@media (min-width: 61.25rem) {
  :global(#abcHeader.global) + [data-presentation-layer-async-component],
  :global(#abcHeader.global) + [data-component='App'],
  :global(.masthead-container) > [data-component='App'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  :global(.Header) {
    display: none;
  }

  :global(.Header) + :global(.Block) {
    margin-top: 0 !important;
  }
}

@media (max-width: 61.1875rem) {
  .root {
    display: none !important;
  }

  .root.root + :global(.Block-content) > :first-child {
    margin-top: 80vh !important;
  }
}

@media (min-width: 61.25rem) and (min-height: 40rem) {
  .root {
    height: 100vh;
  }
}

.root > p {
  padding-top: 0;
}

.root > p:global(.Header-miscEl) {
  font-size: 1.25rem !important;
}

.root > p:not(:global(.Header-miscEl)) {
  font-size: 1rem !important;
}

.root > p:global(.Header-byline):not(:last-child) {
  padding-bottom: 0;
}
