.hasOdysseyPiecemealHeader [data-component='Masthead'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (min-height: 40rem) {
  .root {
    height: 100vh;
  }
}

.root > p {
  padding-top: 0;
}

.root > p:global(.Header-miscEl) {
  font-size: 1.25rem !important;
}

.root > p:not(:global(.Header-miscEl)) {
  font-size: 1rem !important;
}

.root > p:global(.Header-byline):not(:last-child) {
  padding-bottom: 0;
}
